<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mini dns server</title>
</head>
<body>
<div class="save-panel ">
    <div>
        <p>save your ip and domain</p>
    </div>
    <br>
    <div>

        <form action="/save/" method="get">
            <input type="text" class="form-control-sm" name="ip" placeholder="input your ip here, eg: 192.168.1.2">
            <br>
            <input type="text" class="form-control-sm" name="domain"
                   placeholder="input your domain here, eg: example.com">
            <br>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</div>

</body>
</html>